@font-face {
    font-family: Soukou-mincho;
    src: url(font/soukou-mincho/SoukouMincho.ttf);
  }

  @font-face {
    font-family: lineseed;
    src: url(font/line-seed-jp/OTF/LINESeedJP_OTF_Bd.otf);
  }
body {
    margin: 0;
    padding: 0;
    font-family: lineseed;
    background-color: rgb(46, 45, 45);
    background-image: url(images/background/concert.gif);
    background-size: cover;
    background-blend-mode: darken;
  }

  #backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(207, 28, 88);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-family: lineseed;
  }

  nav {
    background-color: #242323;
    overflow: hidden;
    width: 100%;
  }

  .nav-column {
    float: left;
    margin-left: 2%;
  }

  .nav-column2{
    float: right;
    margin-right: 2%;
  }

  .nav-column a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 30px; 
  }

  .nav-column a:hover {
    background-color: #ddd;
    color: black;
  }

  .nav-column2 a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 30px; 
  }

  .nav-column2 a:hover {
    background-color: #ddd;
    color: black;
  }


  footer{
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: rgb(8, 8, 8);
  }

  footer h3{
    font-size: 2vw;
  }

  .social img{
    width: 3%;
    height: 3%;
    background-size: cover;
    margin-right: 1vw;
    margin-left: 1vw;
    margin-bottom: 2vw;
    
  }

  .concertbanner img{
    width: 100%;
    height: 80vh;

  }

  .concertbanner {
    position:relative;
    text-align: left;
    color: white;
  }

  .concertbanner h1{
    font-size: 4vw;
    border: 3px solid darkred;
    color: white;
    background-color: rgb(207, 28, 88);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border-bottom-right-radius: 50%;
    margin-left: 10%;
    margin-top: -20%;
  }

  .vertical{
    border-left: 5px solid rgb(207, 28, 88);
    height: 230vh;
    margin-left: 50%;
    position: absolute;
  }


  .jakartabox{
    position: relative;
    margin-left: 18%;
    margin-top: 5%;
    height: 50vh;
    width: 42vw;

  }

  .jakarta {
    width: 70%;
    background-size: cover;
  }

  .jakarta-text{
    position: relative;
    margin-right: 15%;
    margin-left: 52%;
    margin-top: -27%;
    color: white;
    width: 30%;
  }

  .jakarta-text h1{
    color:  rgb(207, 28, 88);
    font-size: 4vw;
    border-bottom: 2px solid  rgb(207, 28, 88);
  }


  .chibabox{
    position: relative;
    margin-left: 53%;
    margin-top: 5%;
    height: 50vh;
    width: 42vw;
    margin-top: -15%;

  }

  .chiba {
    width: 70%;
    background-size: cover;
    height: 70%;
    
  }

  .chiba-text{
    position: relative;
    margin-right: 15%;
    margin-left: 17%;
    color: white;
    width: 30%;
    text-align: right;
  }

  .chiba-text h1{
    color:  rgb(207, 28, 88);
    font-size: 4vw;
    border-bottom: 2px solid  rgb(207, 28, 88);
  }

  .osakabox{
    position: relative;
    margin-left: 18%;
    margin-top: 5%;
    height: 50vh;
    width: 42vw;

  }

  .osaka {
    width: 70%;
    background-size: cover;
  }

  .osaka-text{
    position: relative;
    margin-right: 15%;
    margin-left: 52%;
    margin-top: -27%;
    color: white;
    width: 30%;
  }

  .osaka-text h1{
    color:  rgb(207, 28, 88);
    font-size: 4vw;
    border-bottom: 2px solid  rgb(207, 28, 88);
  }

  .hkbox{
    position: relative;
    margin-left: 53%;
    margin-top: 5%;
    height: 50vh;
    width: 42vw;
    margin-top: -15%;

  }

  .hk {
    width: 70%;
    background-size: cover;
    height: 70%;
    
  }

  .hk-text{
    position: relative;
    margin-right: 15%;
    margin-left: 17%;
    color: white;
    width: 30%;
    text-align: right;
  }

  .hk-text h1{
    color:  rgb(207, 28, 88);
    font-size: 4vw;
    border-bottom: 2px solid  rgb(207, 28, 88);
  }

  .upcoming {
    width: 80%;
    height: 80%;

  }

  .upcoming img{
    width: 60%;
    margin-left: 33%;
  }

  .AboutText{
    font-size: 1vw;
    color: #ddd;
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: center;
  }

  .AboutText h1{
    font-size: 4vw;
    border: 3px solid darkred;
    color: white;
    background-color: rgb(207, 28, 88);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    margin-left: 28%;
    margin-right: auto;
  }

  .button{
    border: 1px solid darkred;
    color: white;
    background-color: rgb(207, 28, 88);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 1vw;
    margin-left: auto;
    margin-right: auto;
  }

  .button-center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -25%;

  }

  .button-center a:hover {
    background-color: #ddd;
    color: black;
    transition: 0.5s ease;
  }



  @media screen and (max-width: 576px) { 

    nav {
      background-color: #242323;
      overflow: hidden;
      width: 100%;
    }
  
    .nav-column {
      float: left;
      margin-left: 2%;
    }
  
    .nav-column2{
      float: right;
      margin-right: 2%;
    }
  
    .nav-column a {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      margin-right: 30px; 
      font-size: 3vw;
    }
  
    .nav-column a:hover {
      background-color: #ddd;
      color: black;
    }
  
    .nav-column2 a {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      margin-right: 30px; 
    }
  
    .nav-column2 a:hover {
      background-color: #ddd;
      color: black;
    }



    footer a{
      font-size: 1vw;
    }

    .concertbanner img{
      width: 100%;
      height: 20vh;
  
    }

    .jakartabox{
      position: relative;
      margin-left: 18%;
      margin-top: 5%;
      height: 8vh;
      width: 42vw;
  
    }
  
    .jakarta {
      width: 70%;
      background-size: cover;
    }
  
    .jakarta-text{
      position: relative;
      margin-right: 15%;
      margin-left: 52%;
      margin-top: -27%;
      color: white;
      width: 30%;
      font-size: 2vw;
    }
  
    .jakarta-text h1{
      color:  rgb(207, 28, 88);
      font-size: 4vw;
      border-bottom: 2px solid  rgb(207, 28, 88);
    }

    .chibabox{
      position: relative;
      margin-left: 53%;
      margin-top: 5%;
      height: 40vh;
      width: 42vw;
      margin-top: -25%;
  
    }
  
    .chiba {
      width: 80%;
      background-size: cover;
      height: 20%;

    }
  
    .chiba-text{
      position: relative;
      margin-right: 15%;
      margin-left: 17%;
      color: white;
      width: 30%;
      text-align: right;
      font-size: 2vw;
    }
  
    .chiba-text h1{
      color:  rgb(207, 28, 88);
      font-size: 4vw;
      border-bottom: 2px solid  rgb(207, 28, 88);
    }

    .osakabox{
      position: relative;
      margin-left: 18%;
      margin-top: 5%;
      height: 8vh;
      width: 42vw;
  
    }
  
    .osaka {
      width: 70%;
      background-size: cover;
    }
  
    .osaka-text{
      position: relative;
      margin-right: 15%;
      margin-left: 52%;
      margin-top: -27%;
      color: white;
      width: 30%;
      font-size: 2vw;
    }
  
    .osaka-text h1{
      color:  rgb(207, 28, 88);
      font-size: 4vw;
      border-bottom: 2px solid  rgb(207, 28, 88);
    }

    .hkbox{
      position: relative;
      margin-left: 53%;
      margin-top: 5%;
      height: 40vh;
      width: 42vw;
      margin-top: -25%;
  
    }
  
    .hk {
      width: 80%;
      background-size: cover;
      height: 25%;
      
    }
  
    .hk-text{
      position: relative;
      margin-right: 15%;
      margin-left: 17%;
      color: white;
      width: 30%;
      text-align: right;
      font-size: 2vw;
    }
  
    .hk-text h1{
      color:  rgb(207, 28, 88);
      font-size: 4vw;
      border-bottom: 2px solid  rgb(207, 28, 88);
    }
    .vertical{
      border-left: 5px solid rgb(207, 28, 88);
      height: 140vh;
      margin-left: 50%;
      position: absolute;
    }

    .button{
      border: 1px solid darkred;
      color: white;
      background-color: rgb(207, 28, 88);
      padding: 15px 32px;
      text-align: center;
      display: inline-block;
      font-size: 2vw;
      margin-left: auto;
      margin-right: auto;
    }
    }

    


